[run]
data_file = .coverage
source=.
omit =
    tests/*
    config.py
    constants.py
    venv*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    logger
    from
    import
